*.idea
*.pg
*.pomdp
*.hsvi
*.alpha

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
.venv/
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
# Usually contains a .exe file and other build artifacts
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / editor specific files
.vscode/
.idea/
*.swp
*.swo
*.swn

# Test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
dmypy.json
.pyre/

# Pytest cache
.pytest_cache/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff
instance/

# Scrapy stuff
.scrapy/

# Sphinx documentation
docs/_build/

# Pyre type checker
.pyre/

# Docker
*.dockerfile
.env

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

*.npz
*.pkl